@charset "utf-8";
/* CSS Document */

body { 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-size: 80%; 
	font-style: normal; 
	font-weight: normal; 
	color: #000; 
	background-color: #fffffc; 
	letter-spacing: normal; 
	text-align: left; 
	text-indent: 0; 
	word-spacing: normal;
	margin-left: 20px;
}

a:active { color: #0000CC;}
a:hover { color: #CC0033;}
a:link { color: #3366CC;}
a:visited { color: #9999CC;}

.title {
	font-size: 300%;
	font-weight: bold;
	color: #000;
	margin: 10px 0 0 -15px;
	background-color: #ddf;
	padding: 4px 12px 4px 12px;
}

.indent-list, .indent-list-first, .indent-list-middle, .indent-list-last {
	margin-left:36px;
}

h1 {
	font-size: 200%;
	font-weight: bold;
	color: #fff;
	margin: 10px 0 0 -15px;
	background-color: #3b6195;
	padding: 4px 12px 4px 12px;
}
h2 {
	font-size: 160%;
	font-weight: bold;
	border-top: 1px solid #888;
	margin: 16px 0 5px -12px;
	padding: 2px;
}
h3 {
	font-size: 140%;
	font-weight: bold;
	font-style: italic;
	border-top: 1px solid #ccc;
	margin: 8px 0 3px -9px;
	padding: 2px;
}

h4 {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
	border-top: 1px solid #eee;
	margin: 5px 0 3px -6px;
	padding: 2px;
}

p {
	margin: 5px 0 5px 0;
}

p.fixed {
	font-family: "Courier New", Courier, monospace;
	font-size: 95%;
	margin: 0;
	padding: 0;
}

p.codeexample, p.code_example {
	font-family: "Courier New", Courier, monospace;
	font-size: 95%;
	margin: 0 0 0 10px;
	padding: 0;
}

p.note {
	color: blue;
	background: url('img/icon_note.png') 5px 5px no-repeat;
	background-color: #ddf;
	padding: 5px 0 5px 36px;
	min-height: 27px;
	margin-top: 5px;
	margin-bottom: 5px;
}

p.tip {
	color: green;
	background: url('img/icon_tip.png') 6px 6px no-repeat;
	background-color: #dfd;
	padding: 5px 0 5px 36px;
	min-height: 27px;
	margin-top: 5px;
	margin-bottom: 5px;
}

p.warning {
	color: red;
	background: url('img/icon_warning.png') 6px 6px no-repeat;
	background-color: #fdd;
	padding: 5px 0 5px 36px;
	min-height: 27px;
	margin-top: 5px;
	margin-bottom: 5px;
}

p.formula {
	font-size: 150%;
	margin-left: 10px;
}

table table.layout{
/*	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
*/
	margin: 2px 5px 2px 10px;
	border-spacing: 0;
	font-size: 100%;
}

table.tablegrid {
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	margin: 2px 5px 2px 10px;
	border-spacing: 0;
	font-size: 100%;
}

.noborder, table.noborder td {
	border-width: 0;	
}

thead {
	font-weight: bold;	
}

tbody {
	
}

tr {
	border-bottom: 0px solid #000;
	padding: 0;
}

tr.table_header {
	background-color: #ddf;
}

th {
	vertical-align: top;
	font-weight: bold;
/*	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
*/
	background-color: #bdf;
	padding: 1px 5px 1px 5px;
}

th.tablegrid {
	vertical-align: top;
	font-weight: bold;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #bdf;
	padding: 1px 5px 1px 5px;
}

td p.tableheader, td.table_header {
	vertical-align: top;
	font-weight: bold;
	background-color: #bdf;
	margin: -1px -5px -1px -5px;
	padding: 1px 5px 1px 5px;
}

td {
	vertical-align: top;
/*	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
*/
	margin: 0;
	padding:  1px 5px 1px 5px;
}

td.tablegrid {
	vertical-align: top;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin: 0;
	padding:  1px 5px 1px 5px;
}

td p.tablecontent, td.table_content, td p.fixed {
	margin: 0;
	padding: 1px 5px 1px 5px;
}

img {
	padding: 4px;
	border: 0px solid #ccc;
	clear: left;
	float: none;
}

.ObjectType, .Category {
	font-weight: bold;
	font-style: oblique;
	color: #678;
	font-size: 120%;
}

.Code-Red {
	font-family: "Courier New", Courier, monospace;
	font-size: 95%;
	color: red;
}
.Code-Brown {
	font-family: "Courier New", Courier, monospace;
	font-size: 95%;
	color: brown;
}
.Code-Blue {
	font-family: "Courier New", Courier, monospace;
	font-size: 95%;
	color: blue;
}


